<h3>Payment information</h3>
<p>
  {{#if projectName}}
    Your payment method will be charged {{format-currency donationAmount}}
    per month to support {{projectName}}.
  {{else}}
    No project selected.
  {{/if}}
</p>

<h3>Add card information</h3>
<div class="credit-card-donation__icon-list">
  <img src="assets/images/icons/visa.png" alt="visa">
  <img src="assets/images/icons/american-express.png" alt="american-express">
  <img src="assets/images/icons/mastercard.png" alt="mastercard">
  <img src="assets/images/icons/discover.png" alt="discover">
  <img src="assets/images/icons/jcb.png" alt="jcb">
  <img src="assets/images/icons/diners-club.png" alt="diners-club">
</div>
<div class="input-group">
  <label class="visually-hidden" for="credit-card">Credit Card</label>
  {{input type="text" id="credit-card" placeholder="Card number"}}
</div>

<div class="input-group">
  <div class="row">
    <label>
      <span class="visually-hidden">Expiration Date</span>
      {{input type="text" placeholder="MM / YY"}}
    </label>

    <label>
      <span class="visually-hidden">CVC</span>
      {{input type="text" placeholder="CVC"}}
    </label>
  </div>
</div>

<button class="button default">Donate</button>
